body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
.shop-title {
  font-family: 'Bebas Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #5d8cad;
}

a:hover {
  text-decoration: underline;
}

.nav-item {
  font-size: 150%;
}

.navbar a {
  text-decoration: none;
}

.nav-logo {
  height: 60px;
}

.shop-title {
  font-size: 250%;
  color: black;
}

.shop-title-emphasis {
  color: #be320c;
}

.carousel-content {
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 20;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#landing-heading {
  font-size: 10em;
  opacity: 0.75;
  margin-left: -100%;
  margin-bottom: -30%;
  color: black;
}

.poster_panel_surround {
  padding: 10px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card h5 {
  color: black;
}

.poster_panel img {
  max-width: 100%;
}

/* Item */
#carousel-contain.col-7 {
  padding-right: 0px;
}

#carousel-contain.col-5 {
  padding-left: 0px;
}

.reviewed {
  background-color: #e0ebec;
}

.review-stars {
  color: #be320c;
  font-size: 1.4em;
}

datalist {
  display: flex;
  justify-content: space-between;
}

/* Checkout */
label {
  display: block;
  margin-bottom: 5px;
}
input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
button[type='submit'] {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button[type='submit']:hover {
  background-color: #0062cc;
}
