<div class="row">
  <% for (let i = 1; i <= movies.size; i++) {%>
  <div class="col-md-4 col-6 col-xs-6 poster_panel_surround">
    <div class="card text-center border-0 mb-4">
      <a href="/item?rec=<%= i %>" class="text-decoration-none">
        <img
          src="/assets/<%= movies.get(i).image1 %>"
          alt="poster image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title"><%= movies.get(i).title %></h5>
        </div>
      </a>
    </div>
  </div>
  <% } %>
</div>
